/* General Styling */
body {
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2c3e50;
    background-color: #f1f2f6;
}

/* Buttons Styling */
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #2980b9;
}

/* Result Styling */
h3 span {
    color: #16a085;
    font-weight: bold;
}
